body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
}
.head-container{
    background-color: #0f963e;
    height: 55px;
    border: 1px solid #0f963e;
    padding-left: 1%;
    font-weight: bolder;
    font-size: 20px;
    color:  #242424;
}

.search{

}

footer{
    background-color: #0f963e;
    bottom: 0;
    height: 25px;
    position: fixed;
    width: 100%;
}

.cards-screen{
    /* padding-left: 70px;
    padding-right: 70px; */
    padding-top: 30px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    justify-content: center;
    gap: 4em;


}

.card{
    border: 2px solid #000000;
    border-radius: 0px 0px 16px 16px;
    /* margin-right: 93px;*/
    margin-bottom: 20px;
    background-color: #0f963e;
}

.card-text{
    margin-left: 10px;
    color: white;
    margin-bottom: 20px;
}

.card-pic{
    width: 300px;
    height: 300px;

}

.fa-solid{
    color: #ffffff;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
 }
 .modalcontent {
    background-color: #181818;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 80%; /* Could be more or less, depending on screen size */
 }
 .modalhead{
    display: flex;
 }
 .modalpic{
    margin-right: 20px;
    color: #ffffff;
 }

 .modaltitle{
    width: 80%;
    color: #ffffff;
 }
 .quit{
    font-size: xx-large;

 }
.modalsong{
    border: 2px solid #ffffff;
    border-radius: 6px;
    /* margin-right: 93px;*/
    background-color: #0f963e;
    display: flex;
}
.song-pic{
    width: 100px;
    height: 100px;
    margin: 5%;
    margin-right:20px;
}
.songtitle{
    width: 80%;
}
.duration{
    padding-top: 6%;

}
.fa-heart:hover {
    cursor: pointer;
}
/* Add a breakpoint for window sizes that 1 column is better */
/* @media (600px) */
/* { card {
    display flex
    center content
    m */



/* Feature Page CSS */
.feature-head{
    background-color: #0f963e;
    height: 55px;
    border: 1px solid #0f963e;
    padding-left: 1%;
    font-weight: bolder;
    font-size: 20px;
    color:  #242424;
}
